---
// src/pages/blog.astro
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<html>
  <body>
    <h1>My Blog</h1>
    {posts.map(post => (
      <article>
        <h2>{post.data.title}</h2>
        <p>{post.data.description}</p>
        <a href={`/blog/${post.slug}`}>Read more</a>
      </article>
    ))}
  </body>
</html>
