---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="https://cdn.prod.website-files.com/67675ff6b52a5b66916d488e/676981b671c977423d6aead3_snap2023-04-02-22-36-30-p-800.png"
>
	<p>
		Hi, I’m devvyyxyz (kai), a passionate software developer with a strong focus on creating innovative and user-friendly solutions. Over the years, I’ve worked on a variety of exciting projects, including a Minecraft Java data pack, a Visual Studio Code extension for JSON validation, and a feature-rich Discord bot with custom API integration. My work reflects my expertise in modern frameworks, problem-solving, and attention to detail. I’m always eager to learn, collaborate, and take on new challenges. You can explore my projects on GitHub or connect with me on LinkedIn.
	</p>
</Layout>
