---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, User!</h1>
			<p>
				Hey, Bonjour, 你好 i’m Devvyyxyz, A software and cyber security developer! explore my projects, gallery and latest creation or get in touch with me bellow!
				
				Welcome to the official blog site of <b>Devvyyxyz</b>.
			</p>
		</main>
		<Footer />
	</body>
</html>
